* {
    font-family: dkCrayonCrumble;
    box-sizing: border-box;
    color: white;
    letter-spacing: 0.1094rem;
}
.text-input::placeholder {
    letter-spacing: 0;
}

.text-input {
    letter-spacing: 0.0781rem;
}

@font-face {
    font-family: dkCrayonCrumble;
    src: url("./assets/fonts/dk-crayon-crumble-font/DkCrayonCrumble-ddll.ttf");
}

.display-none {
    display: none;
}

body {
    background-image: url("./assets/images/background-img.jpg");
    background-position: center; /*? If you only specify one keyword, the other value will be "center"*/
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-cont {
    position: relative;
    width: 100%;
    max-width: 31.25rem;
}

.board-img {
    width: 100%;
}

.board-content {
    position: absolute;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    inset: 0;
}

.img-and-text-cont {
    margin-top: 25%;
}

.header-and-tasks-cont {
    margin-top: 20%;
}

.first-add-btn-cont {
    display: inline-flex;
    align-items: center;
    border: 0.2188rem solid white;
    width: 8.125rem;
    height: 2.5rem;
    margin-top: clamp(1rem, 5%, 1.5625rem);
}

.first-add-btn {
    border-radius: 0;
    border: 0.0313rem solid white;
    outline: 0;
    background-color: white;
    width: 2.4375rem;
    height: 2.4375rem;
    padding: 0.2188rem 0.125rem 0 0;
}

.first-add-btn-cont,
.first-add-btn {
    cursor: pointer;
}

.first-add-btn:hover .first-add-icon {
    fill: green;
}

.add-one {
    font-size: 1.125rem;
    padding-top: 0.125rem;
    margin-left: 0.5rem;
}

.first-add-icon {
    width: 1.25rem;
    height: 1.25rem;
}

header {
    margin-bottom: 5%;
}

.heading {
    font-size: clamp(1.25rem, 15.385vw + -1.827rem, 3.125rem);
}

.no-task-yet-img {
    margin: 0 auto 0.625rem;
    width: 60%;
}

.no-tasks-text {
    margin: 1rem 0 0;
    font-size: clamp(1.5rem, 6.154vw + 0.269rem, 2.25rem);
}

.tasks-cont {
    height: clamp(15.625rem, 87.179vw + -1.811rem, 26.25rem);
    overflow-y: scroll;
}

.tasks-cont,
.heading {
    padding: 0;
    margin: 0;
}

.single-task-cont {
    list-style-type: none;
    line-height: clamp(1.4rem, 7.887vw + -0.177rem, 2.45rem);
}

/* *? hide and position the default html checkbox */
.checkbox {
    z-index: 0;
    width: 2rem;
    height: 1.6rem;
    opacity: 0;
    margin: 0.5rem auto 0;
    cursor: pointer;
    position: sticky;
    left: 40px;
}

/* *?align the checkbox and text input vertically inside of the text container */
.text-cont {
    display: inline-flex; /*allows the container to work like an inline element, so it doesn't take the whole width of the page*/
    align-items: center;
}

/* ?create a element that looks like a textbox, next to input textbox to replace the default one */
.text-cont::before {
    content: "";
    display: inline-block;
    width: 1.0625rem;
    height: 1.0625rem;
    flex-shrink: 0;
    flex-grow: 0;
    border: 0.15rem solid white;
    margin-right: 0.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

@media (min-width: 32.25rem) {
    .checkbox + .text-cont::before {
        width: 1.5625rem;
        height: 1.5625rem;
        border: 0.1875rem solid;
    }
}

/*only in the checked state of the default textbox will the background image be displayed */
.checkbox:checked + .text-cont::before {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='16' viewBox='0 0 22 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.75 5.33333L0 8L8.25 16L22 2.66667L19.25 0L8.25 10.6667L2.75 5.33333Z' fill='white'/%3E%3C/svg%3E%0A");
}

.text-input {
    border: none;
    background-color: transparent;
    font-size: clamp(1rem, 8.718vw + -0.744rem, 2.063rem);
    padding-top: 0.5rem;
}

.text-input:focus {
    border: none;
    outline: none;
}

/*initially off*/
.red-border {
    border: 0.1875rem dashed red;
    cursor: pointer;
}

.btns-cont {
    margin-top: clamp(0.25rem, 6.154vw + -0.981rem, 1rem);
    display: flex;
    justify-content: end;
    width: 100%;
}

.add-btn,
.delete-btn {
    padding: 0;
    color: white;
    border: 0.125rem solid;
    width: clamp(1.75rem, 4.103vw + 0.929rem, 2.25rem);
    height: clamp(1.75rem, 4.103vw + 0.929rem, 2.25rem);
    background-color: transparent;
}

@media (min-width: 800px) {
    .add-btn:hover {
        background-color: rgb(24, 132, 24);
    }

    .delete-btn:hover {
        background-color: rgb(238, 62, 62);
    }
}

.delete-btn {
    margin-left: 0.75rem;
}

.add-icon,
.delete-icon {
    fill: white;
}

/* both svg icons for add and delete btns */
.add-icon {
    margin-top: 0.2813rem;
}

.delete-icon {
    margin-top: 0.1875rem;
}

/* a toggle class that's initially off */
.delete-btn-grey {
    color: grey;
}

.delete-icon-grey {
    fill: grey;
}

.dialog {
    padding: 0;
    background-color: transparent;
    border-radius: 0.9375rem;
    width: clamp(12.5rem, 60%, 25rem);
    font-size: 1.5rem;
    border: 0.1875rem solid;
}

.dialog-cont,
.dialog-btns-cont {
    margin: 0 auto;
}

.dialog-cont {
    padding-bottom: 1.25rem;
    width: 80%;
    text-align: center;
}

.dialog-btns-cont {
    width: fit-content;
}

.dialog::backdrop {
    backdrop-filter: blur(0.75rem);
}

.no-btn,
.yes-btn {
    height: 2rem;
    width: 2rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0.1563rem solid white;
    border-radius: 0.5rem;
    border-color: white;
    border-style: solid;
}

.no-btn:hover {
    background-color: #e70606;
}

.yes-btn:hover {
    background-color: #008000;
}

.no-btn {
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M13.0583 9.5L18.9832 15.4249L15.4249 18.9832L9.5 13.0583L3.5583 19L0 15.4417L5.9417 9.5L0 3.5583L3.5583 0L9.5 5.9417L15.4417 0.016784L19 3.57509L13.0583 9.5Z' fill='white' /%3E%3C/svg%3E");
}

.yes-btn {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M7.22377 19.2545L0.00176553 11.5622L3.29188 8.05563L7.2227 12.2548L18.709 0.000560275L22.0002 3.50609L7.22377 19.2545Z' fill='white' /%3E%3C/svg%3E");
}
